services:
  discord:
    container_name: discord
    image: cachorro_louco_base:latest
    build: .
    restart: always
    volumes:
      - ./code/:/app/code/
      - ./perro_loko.db:/app/perro_loko.db
    depends_on:
      - perro_loko_betfair
    environment:
      # set telegram envs
      - DISCORD_TOKEN_PROD=${DISCORD_TOKEN_PROD}
      - CHANNEL_ID=${CHANNEL_ID}
      - CHANNEL_ID_LOG=${CHANNEL_ID_LOG}
    command: bash -c "python /app/code/main.py"

  perro_loko_betfair:
    container_name: perro_loko_betfair
    image: cachorro_louco_base:latest
    restart: always
    volumes:
      - ./code/:/app/code/
      - ./perro_loko.db:/app/perro_loko.db
    environment:
      # to auth... (remember to use a .env file)
      - BETFAIR_USER=${BETFAIR_USER}
      - BETFAIR_PASSWORD=${BETFAIR_PASSWORD}
    command: bash -c "python /app/code/perro_loko.py"